@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap" rel="stylesheet');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

a {
  color: #fff;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  padding: 1rem;
}

header nav a {
  margin-right: 1rem;
  font-size: 12px;
  text-decoration: none;
}

header nav button {
  padding: 0.5rem;
  border-radius: 50%;
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: blue;
  height: 100vh;
}

img {
  display: block;
  background: #fff;
  margin: 2rem auto;
}

.container .center input {
  display: block;
  width: 500px;
  padding: 0.78rem;
  border-radius: 50px;
  margin-bottom: 1.5rem;
}

.container .center button {
  padding: 8px 15px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.container .center p {
}

.container footer {
  align-items: flex-end;
  justify-content: flex-end;
  background: red;
  align-self: baseline;
}
